# Node Exporter - métriques machine (CPU, RAM, disque, réseau)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-exporter
  namespace: monitoring-iot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      containers:
        - name: node-exporter
          image: prom/node-exporter:v1.7.0
          ports:
            - containerPort: 9100
              name: metrics
---
apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: monitoring-iot
spec:
  selector:
    app: node-exporter
  ports:
    - port: 9100
      targetPort: 9100
      name: metrics
