@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100;
}

.glass-panel {
  @apply bg-slate-900/70 backdrop-blur-xl border border-slate-800/80 shadow-xl;
}
